* {
box-sizing: border-box;
margin: 0;
padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color:chocolate
}
#buttons {
    width: 100vw;
    height: 40vh;
    display: flex;
    align-items: center;
justify-content: space-evenly;

}
.button {
width: 20vw;
height: 35vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: black;
border-radius: 2vh;
}
img {
   max-height: 90%;
   max-width: 100%;
   object-fit: contain;
}
h3 {
    text-align: center;
    font-size: 3vh;
    padding-top: 0%;
    color: white;
    padding-bottom: 2vh;
}
#upper {
    height: 30vh;
    max-width: 100vw;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.empty {
    height: 3vh;
}
#para{
    display: flex;
    gap: 10vw;
}
#lower {
    height: 30vh;
    max-width: 100vw;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#result {
    display: flex;
    gap: 10vw;
    color: black;
}